BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
AlignAfterOpenBracket: false
AlignEscapedNewlines: LeftWithLastLine
BreakBeforeBinaryOperators: NonAssignment
BreakFunctionDefinitionParameters: false
BreakTemplateDeclarations: Yes
IndentWrappedFunctionNames: true
BinPackArguments: true
PackConstructorInitializers: BinPack
BinPackParameters: BinPack
PointerAlignment: Right
ReferenceAlignment: Right
AccessModifierOffset: -4
EmptyLineBeforeAccessModifier: Always
IndentAccessModifiers: false